*{
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../images/dbzTrivia.jpg);
    background-size: cover;
    height: auto;
    width: 100%  
}

.container{
    background: rgba(206, 150, 150, 0.8); 
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.wrapper{
    margin: auto;
    width: 60%;
}

button {
    width: 40%;
    height: 2.5rem;
    font-size: 1.5rem;
}

#trivia-game {
    width: 100%

}

.question {
    margin-bottom: 1rem;
}

.timer {
    margin: 1rem 0;
}

p {
    font-size: .8rem;
}

#results p {
    font-size: 1.6rem;
}